.hero {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.toHome {
  z-index: 100;
  opacity: 0;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #fff;
  border-radius: 50%;
  border: none;
  color: #000;
  animation: rotate360 5s linear infinite;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: all 0.5s ease-in-out;

  @media screen and (max-width: 768px) {
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
}
.toHome.show {
  opacity: 1;
}
.toHome:hover {
  scale: 1.1;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.anchor-link button {
  text-decoration: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 0 10px;
}

.profile-img {
  margin: 30px 0;
  max-width: 300px;
  border-radius: 50%;
}

.profile-img_shadow {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
.hero h1 {
  text-align: center;
  width: 65%;
  font-size: 65px;
  font-weight: 600;
  line-height: 80px;
}

.hero h1 span {
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p {
  width: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}
.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 500;
  position: relative;
  margin-bottom: 50px;
}

.hero-connect {
  padding: 20px 30px;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;
}

.hero-resume {
  padding: 20px 55px;
  border-radius: 50px;
  border: 2px solid #fff;

  transition: 0.5s;
  cursor: pointer;
}

.hero-connect:hover {
  background-position: right center;
  color: #fff;
}

.hero-resume:hover {
  border-color: #8e54e9;
}

.hero-text-fly {
  position: absolute;
  top: 70px;
  right: -100px;
}
.hero-linkedin {
  position: relative;
}
.hero-linkedin-arrow {
  position: absolute;
  top: -15px;
  left: -15px;
  font-size: 15px;
  color: #fff;
  rotate: 220deg;
}
.hero-linkedin-text {
  font-size: 14px;
  font-weight: 500;
  /* border: 2px solid #8e54e9; */
  padding: 5px 10px;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  color: #000;
  background: rgb(255, 255, 255);
}

.hero-background-animation {
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;

  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 100%;

  border-radius: 25px;
  padding: 150px 0;
}
.hero-background-animation h1 {
  display: inline-block;
  font-size: 500px;
  font-weight: 800;
  color: #ffffff10;
  animation: loopText 70s linear infinite;
}
@keyframes loopText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .hero {
    height: 80vh;
    gap: 20px;
    margin: 50px 6%;
  }
  .profile-img {
    margin-top: 50px;
    width: 200px;
  }
  .hero h1 {
    margin-top: 10px;
    width: 90%;
    font-size: 35px;
    line-height: 50px;
  }
  .hero p {
    width: 80%;
    font-size: 16px;
    line-height: 25px;
    margin: 5px 0px;
  }
  .hero-action {
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .hero-connect .anchor-link,
  .hero-resume {
    width: 100%;
  }
  .hero-connect {
    padding: 20px 20px;
    border-radius: 40px;
    font-size: 14px;
  }
  .hero-resume {
    padding: 18px 30px;
    border-radius: 40px;
    font-size: 14px;
    text-align: center;
  }
}
