.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 120px 10%;
}

.mywork-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 25px;
  cursor: pointer;
  overflow: hidden;
}

.mywork-container img {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.mywork-container img:hover {
  transform: scale(1.02);
  border: 4px solid #8e54e9;
  transition: all 0.3s ease-in-out;
}

.work-card {
  position: relative;
}

.work-title {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  bottom: 3px;
  padding: 7px 10px 7px 40px;
  border-radius: 0 0 10px 10px;
}

.work-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.work-card:hover .work-info {
  opacity: 1;
}

.work-info h2 {
  font-size: 32px;
  font-weight: 600;
}

.work-info p {
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0;
  text-align: center;
  padding: 0 40px;
}

.work-info .work-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.work-info .work-btn a button {
  background: #8e54e9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.work-info .work-btn a button:hover {
  background: #7a4fd0;
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  .mywork-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .work-title h2 {
    font-size: 20px;
    padding: 7px 10px 7px 20px;
  }
  .work-info {
    padding: 10px 20px;
  }
  .work-info h2 {
    font-size: 22px;
  }
  .work-info p {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
    padding: 0;
    margin: 10px 0;
  }
  .work-info .work-btn a button {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .mywork {
    gap: 50px;
    margin: 50px 6%;
    align-items: start;
  }

  .mywork-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
