.contact {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 80px;
  margin: 150px 10%;
}

.title-box-h1 {
  padding: 0;
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 40%;
}

.contact-left h1 {
  font-size: 50px;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-left p {
  max-width: 550px;
  color: #d8d8d8;
  font-size: 16px;
  line-height: 25px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #d8d8d8;
  font-size: 22px;
}
.contact-detail {
  display: flex;
  align-items: center;
  gap: 18px;
}
.contact-detail img {
  width: 25px;
}
.contact-detail a {
  text-decoration: none;
}
.contact-detail a:hover {
  text-decoration: underline;
  color: #8e54e9;
}
.contact-right {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.contact-right label {
  color: #d8d8d8;
}

.contact-right input,
.contact-right textarea {
  border: none;
  width: 100%;
  padding: 18px 0;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 18px;
}

.contact-submit {
  border: none;
  color: white;
  border-radius: 50px;

  font-size: 18px;
  padding: 18px 40px;
  margin-bottom: 50px;
  margin-top: 15px;

  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;
}
.contact-submit:hover {
  background-position: right center;
}
@media (max-width: 768px) {
  .contact {
    gap: 40px;
    margin: 80px 6%;
    align-items: start;
  }

  .contact-section {
    flex-direction: column;
  }
  .contact-left h1 {
    font-size: 35px;
  }

  .contact-detail {
    gap: 12px;
  }
  .contact-detail img {
    width: 20px;
  }
  .contact-left {
    margin-bottom: 30px;
  }
  .contact-right label {
    font-size: 14px;
  }
}
