.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10%;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  font-size: 16px;
}

.nav-connect {
  position: relative;
  padding: 22px 2px;
  border-radius: 12px;
  font-size: 16px;
  background-image: linear-gradient(
    to right,
    #8e54e9 0%,
    #4776e6 51%,
    #8e54e9 100%
  );
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;
}
.nav-connect > * {
  border-radius: 12px;
  background-color: #1c1c1c;
  padding: 20px 50px;
}

.nav-logo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.logo {
  width: 100px;
}

.hire__div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.hire__green {
  width: 10px;
  height: 10px;
  background: rgb(16, 255, 16);
  border-radius: 50%;
  filter: blur(2px);
}

.hire-text {
  font-size: 14px;
  color: white;
  letter-spacing: 1.6px;
}

.nav-connect:hover {
  background-position: right center;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}
.anchor-link {
  text-decoration: none;
  color: white;
}
.nav-mob-close {
  display: none;
  cursor: pointer;
}
.nav-mob-open {
  display: none;
  cursor: pointer;
  width: 30px;
}
@media (max-width: 768px) {
  .navbar {
    margin: 20px 6%;
  }
  .nav-connect {
    display: none;
  }
  .nav-logo h1 {
    font-size: 24px;
    letter-spacing: 1px;
  }

  .hire__div {
    gap: 10px;
  }

  .hire-text {
    font-size: 12px;
    letter-spacing: 1px;
  }

  .nav-mob-open {
    display: block;
    position: absolute;
    right: 30px;
  }
  .nav-mob-close {
    display: block;
    position: absolute;
    top: 30px;
    right: 7%;
    width: 30px;
  }
  .navbar ul {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 300px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -300px;
    padding-top: 100px;
  }
  .nav-menu li {
    font-size: 22px;
    padding-left: 50px;
    flex-direction: row;
    gap: 20px;
  }
}
